<div class="form-panel" style="margin-top:20px">
	<div class="comments-section">
		<% @ticket.comments.each do |comment| %>
			<div>
				<hr>
				<div style="margin: 20px 0 0 20px">
					<h3><%= "#{User.find(comment.user_id).username}:" %></h3>
					<p><%= comment.body %></p>
				</div>
			</div> 
		<% end %>
	</div>
	<div>
		<%= form_for ([@ticket, @ticket.comments.build]) do |f| %>
		<div class="inputs">
			<%= f.text_area :body, class: "frm-ctrl txt" %> 
		</div>
		<div class="inputs">
			<%= f.submit "Submit", class: "frm-ctrl btn btn-main" %>
		</div>
		<%= f.hidden_field :user_id, :value => session[:user_id] %>
		<% end %>
	</div>
</div>