
<%= form_for [@user, @user.tickets.build] do |f| %> 
	<div class="form-panel">
		<h2>Ticket - New</h2>
		<div class="inputs">
			<%= f.label :title, class: "frm-ctrl" %>
			<%= f.text_field :title, class: "frm-ctrl txt" %>
		</div>
		<div class="inputs">
			<%= f.label :application, class: "frm-ctrl txt" %>
			<%=  collection_select(:ticket, :application, @applications, :id, :name)%>
		</div>
		<div class="inputs">
			<%= f.label :summary, class: "frm-ctrl txt" %>
			<%= f.text_area :summary, class: "frm-ctrl" %>
		</div>
		<div class="inputs">
			<%= f.submit "Submit", class: "frm-ctrl btn btn-main" %> 
		</div>
	</div>
	<%= link_to 'Back', user_tickets_path(session[:user_id]), style: "margin-left:220px" %>
<% end %>